@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Benjamin Burgess</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/stateface.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Custom.css" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
        <a class="navbar-brand pb-2" asp-area="" asp-controller="Home" asp-action="Index">Benjamin Burgess</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="dos-font">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index"><span class="oi oi-home"></span></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Skills"><span class="oi oi-puzzle-piece"></span> Skills</a>
                </li>
                <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="#" id="texasProDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Projects</span>
                        <span class="oi oi-project"></span>
                        Projects
                    </a>
                    <div class="dropdown-menu bg-info" aria-labelledby="texasProDropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Projects">Put It Down</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Projects">Cs50 Finance</a>
                    </div>
                </li>
                <li class="nav-item px-2">@Html.ActionLink("Education", "Education", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item px-2">@Html.ActionLink("Feedback", "Feedback", "Home", null, new { @class = "nav-link" })</li>
            </ul>
            <div class="dropdown-divider"></div>
            @Html.Partial("_LoginPartial")
        </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Benjamin Burgess' ASP.NET Core Application</p>
            <div id="MCSASQL" class="logo"></div>
            <div id="MCSEDMA" class="logo"></div>
            <p>Microsoft is a registered trademark of Microsoft Corporation in the United States and other countries.</p>
            <div class="mediaCheck"></div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Site.js"></script>
</body>
</html>
